a {
    text-decoration: none;
}

img {
    width: 100%;
}

section {
    padding: 0rem 0 2rem;
}

.post-topo {
    width: 100%;
    height: 500px;
    padding-top: 10px;
}

.post-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
    margin-top: 6.5rem
}

.topo-titulo {
    font-size: 2.6rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 1rem;
}

.data-autor-blog {
    text-align: center;
    font-size: 1.0rem;
}

.topo-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}

.sub-titulo {
    font-size: 1.2rem;
}

.post-texto {
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

.compartilhar-botao-um {
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    left: 290px;
    top: 689px;
}

.compartilhar-botao-um img {
    width: 40px;
}

.compartilhar-botao-dois {
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    left: 290px;
    top: 742px;
}

.compartilhar-botao-dois img {
    width: 40px;
}

.compartilhar-botao-tres {
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    left: 290px;
    top: 795px;
}

.compartilhar-botao-tres img {
    width: 40px;
}

footer {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-footer {
    background-color: #434A76;
    display: flex;
    padding-top: 2em;
    padding-left: 1em;
    justify-content: space-around;
}

.sobre {
    width: 33%;
}

.sobre h4 {
    color: aliceblue;
    padding-bottom: 2em;
}

.sobre p {
    color: #7A81AC;
    padding-bottom: 2em;
}

.redes-sociais {
    width: 30%;
}

.redes-sociais nav {
    display: grid;
    gap: 0.4em;
}

.redes-sociais h4 {
    color: aliceblue;
    padding-bottom: 2em;
}

.redes-sociais a {
    color: #7A81AC;
}

.redes-sociais a:hover {
    color: #afb4d3;
}

.footer {
    background-color: #434A76;
    display: flex
}

.footer a {
    background-color: ;
    margin-left: 2em;
    color: #7A81AC;
}

.footer a:hover {
    color: aliceblue;
}

.footer p {
    color: aliceblue;
    position: fixed;
    right: 10%;
}