* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: center;
    padding-top: 10%;
    gap: 2rem;
}

.box {
    background: rgb(190, 190, 190);
    padding: 15px;
    border-radius: 0.5rem;
    transition: transform 0.3s;
}

.box img {
    border-radius: 50%;
}

.box h1 {
    font-size: 34px;
    color: black;
}

.box h2 {
    font-size: 28px;
    padding-left: 35%;
    padding-top: 1%;
    color: black;
}

.box:hover {
    transform: scale(1.19);
}